In [228]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

import random

data = pd.read_csv("Sentiment_Analysis_data.csv")
data.fillna("", inplace=True)

In [229]:
print(data)

      Unnamed: 0         Customer Name                cust mail id  \
0              0          Anna Ramirez        nathan18@example.net
1              1        Ricky Caldwell  millercharlene@example.net
2              2          Richard Ford      jonesjason@example.com
3              3           Maria Lopez  amandacampbell@example.net
4              4  Christopher Anderson         karen57@example.org
...          ...                   ...                         ...
2295        2295          Taylor Hogan          neil21@example.net
2296        2296          Richard York         cbutler@example.com
2297        2297           Stacy Black    sarahbennett@example.com
2298        2298         Marcus Barton       handerson@example.net
2299        2299       Samuel Shepherd      yhernandez@example.net

                                               Feedback     Date and time  \
0     beautiful accomodations stayed hotel santa mar...  2024-10-19 17:07
1     great hotel great location hotel located la ra...  2024-11-03 03:27
2     beautiful hotel great location like beautifull...  2024-10-10 20:48
3     great deal waikiki trip hawaii outrigger luana...  2024-12-28 19:24
4     choose airport hotel busy triparound australia...  2024-10-16 12:54
...                                                 ...               ...
2295  objective review context visit couple early 20...  2024-07-08 13:48
2296  charged stay someplace rooms cold damp not coz...  2024-03-31 21:40
2297  city pick pockets basic hotel room cleaned dai...  2024-02-28 07:04
2298  shhhh n't tell, secret, flying australia littl...  2024-03-08 04:35
2299  not greatest far hotel rooms concerned ok litt...  2024-04-27 16:52

     caretaker/server name care-empid  cust-age         cust-contact  \
0              John Garner     EMP793        29  (733)462-4879x69814
1              Sean Foster     EMP891        46      +1-859-864-1384
2            Jennifer Best     EMP752        54           2486232501
3            Robert Dawson     EMP480        59     001-627-820-2848
4             Chelsea Huff     EMP492        42         834-575-1134
...                    ...        ...       ...                  ...
2295           Jimmy Clark     EMP033        29         997.712.4617
2296           James Evans     EMP439        70         573.910.0923
2297        Timothy Suarez     EMP420        34        (217)803-9826
2298           Kylie Brady     EMP707        61           3133780398
2299            Brian Frey     EMP488        53   924.799.5071x78950

     sentiment - future  ... customer-stay duration  customer-n visits past  \
0              Positive  ...                      2                       3
1               Neutral  ...                      3                       2
2              Negative  ...                     16                       0
3              Positive  ...                      6                       4
4              Negative  ...                     29                       4
...                 ...  ...                    ...                     ...
2295           Negative  ...                      8                       0
2296           Positive  ...                     12                       8
2297            Neutral  ...                     29                       2
2298           Negative  ...                      3                       1
2299           Positive  ...                     10                       6

      customer-membership status customer-amt to be paid NPS  \
0                         Active                    $417   5
1                         Active                    $301   7
2                         Active                    $323   8
3                         Active                    $186   9
4                         Active                    $115   8
...                          ...                     ...  ..
2295                      Active                    $200   5
2296                    Inactive                    $398   4
2297                      Active                    $222  10
2298                    Inactive                    $105  10
2299                    Inactive                    $402   5

      Dining - Vegetarian/vegan Room preference  \
0                         Vegan        Standard
1                         Vegan          Deluxe
2                Non-Vegetarian          Deluxe
3                    Vegetarian          Deluxe
4                    Vegetarian        Standard
...                         ...             ...
2295             Non-Vegetarian          Deluxe
2296             Non-Vegetarian          Deluxe
2297                 Vegetarian           Suite
2298             Non-Vegetarian           Suite
2299             Non-Vegetarian          Deluxe

     Sports activities - [table tennis, golf, ...]  \
0                                         Swimming
1                                         Swimming
2                                     Table tennis
3                                        Badminton
4                                             Golf
...                                            ...
2295                                          Golf
2296                                  Table tennis
2297                                          Golf
2298                                      Swimming
2299                                  Table tennis

     Wellness - gym, sauna, massage pricing patterns - frugal/luxury
0                               Gym                           Luxury
1                             Sauna                           Frugal
2                               Gym                           Frugal
3                             Sauna                           Luxury
4                             Sauna                           Luxury
...                             ...                              ...
2295                          Sauna                           Frugal
2296                          Sauna                           Frugal
2297                        Massage                           Frugal
2298                            Gym                           Luxury
2299                        Massage                           Frugal

[2300 rows x 21 columns]

In [230]:
# Step 1: Generate User Data
import random
def generate_user_data(num_users=500, num_days=30):
    user_data = []

    # Define possible activities and their categories
    activities = {
        'amenities': ['pool', 'spa', 'gym', 'tennis_court', 'business_center'],
        'dining': ['main_restaurant', 'cafe', 'bar', 'room_service', 'buffet'],
        'activities': ['city_tour', 'beach_activity', 'cooking_class', 'yoga', 'golf']
    }

    # Generate random user interactions
    # start_date = datetime.now() - timedelta(days=num_days)

    for user_id in range(num_users):
        # User preferences (1-5 rating)
        for category in activities:
            for activity in activities[category]:
                # Not all users will have interactions with all activities
                
                    user_data.append({
                        'user_id': f'{user_id}',
                        'category': category,
                        'activity': activity,
                        'rating': random.randint(1, 5),
                    })

    return pd.DataFrame(user_data)

In [231]:
data = generate_user_data()
data

     user_id    category         activity  rating
0          0   amenities             pool       2
1          0   amenities              spa       1
2          0   amenities              gym       5
3          0   amenities     tennis_court       3
4          0   amenities  business_center       3
...      ...         ...              ...     ...
7495     499  activities        city_tour       5
7496     499  activities   beach_activity       2
7497     499  activities    cooking_class       4
7498     499  activities             yoga       2
7499     499  activities             golf       2

[7500 rows x 4 columns]

In [232]:
data.to_csv("recommendation_data.csv")

In [233]:
data[data['user_id'] == "user_0"]['activity'].value_counts()

Series([], Name: count, dtype: int64)

In [234]:
# Step 2: Build User Profiles and Similarity Matrix
def build_user_profiles(data):
    
    # Create a user-activity matrix
    user_profiles = data.pivot_table(index='user_id', columns='activity', values='rating').fillna(0)

    # Compute similarity matrix using cosine similarity
    similarity_matrix = cosine_similarity(user_profiles)
    return similarity_matrix, user_profiles

In [235]:
print(data.head())

  user_id   category         activity  rating
0       0  amenities             pool       2
1       0  amenities              spa       1
2       0  amenities              gym       5
3       0  amenities     tennis_court       3
4       0  amenities  business_center       3

In [236]:
print(data['rating'].dtype)

int64

In [237]:
similarity_matrix, user_profiles = build_user_profiles(data)
print(similarity_matrix)

[[1.         0.86067219 0.85759927 ... 0.85895799 0.88923552 0.82629363]
 [0.86067219 1.         0.87989809 ... 0.93861684 0.89080208 0.89941829]
 [0.85759927 0.87989809 1.         ... 0.83437103 0.83681286 0.80976187]
 ...
 [0.85895799 0.93861684 0.83437103 ... 1.         0.84339432 0.857266  ]
 [0.88923552 0.89080208 0.83681286 ... 0.84339432 1.         0.84956754]
 [0.82629363 0.89941829 0.80976187 ... 0.857266   0.84956754 1.        ]]

In [238]:
user_profiles

activity,bar,beach_activity,buffet,business_center,cafe,city_tour,cooking_class,golf,gym,main_restaurant,pool,room_service,spa,tennis_court,yoga
user_id,,,,,,,,,,,,,,,
0,3.0,2.0,3.0,3.0,2.0,3.0,4.0,1.0,5.0,2.0,2.0,4.0,1.0,3.0,3.0
1,1.0,4.0,3.0,5.0,4.0,4.0,2.0,4.0,3.0,5.0,5.0,5.0,1.0,5.0,2.0
10,2.0,1.0,3.0,5.0,1.0,5.0,4.0,2.0,1.0,1.0,5.0,5.0,2.0,5.0,2.0
100,1.0,3.0,3.0,1.0,1.0,3.0,5.0,4.0,3.0,2.0,4.0,4.0,3.0,4.0,5.0
101,4.0,5.0,3.0,5.0,3.0,3.0,4.0,4.0,3.0,1.0,1.0,1.0,4.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1.0,3.0,5.0,4.0,4.0,5.0,1.0,3.0,1.0,5.0,4.0,2.0,4.0,2.0,5.0
96,5.0,1.0,1.0,5.0,3.0,5.0,4.0,1.0,3.0,5.0,2.0,3.0,4.0,3.0,2.0
97,1.0,4.0,5.0,3.0,3.0,2.0,1.0,3.0,3.0,4.0,5.0,5.0,2.0,5.0,5.0
98,3.0,2.0,2.0,2.0,1.0,5.0,4.0,5.0,4.0,5.0,4.0,5.0,1.0,2.0,3.0
99,5.0,4.0,5.0,5.0,4.0,5.0,2.0,4.0,1.0,5.0,3.0,2.0,1.0,3.0,3.0

In [242]:
import pandas as pd
import random
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

# Step 1: Generate User Data
def generate_user_data(num_users=500, num_days=30):
    
    user_data = []

    # Define possible activities and their categories
    activities = {
        'amenities': ['pool', 'spa', 'gym', 'tennis_court', 'business_center'],
        'dining': ['main_restaurant', 'cafe', 'bar', 'room_service', 'buffet'],
        'activities': ['city_tour', 'beach_activity', 'cooking_class', 'yoga', 'golf']
    }

    # Generate random user interactions
    for user_id in range(num_users):
        for category in activities:
            for activity in activities[category]:
                # Randomly decide if the user interacted with the activity
                if random.random() < 0.3:  # 30% chance of interaction
                    user_data.append({
                        'user_id': f'{user_id}',
                        'category': category,
                        'activity': activity,
                        'rating': random.randint(1, 5),
                    })

    return pd.DataFrame(user_data)

# Step 2: Build User Profiles and Similarity Matrix
def build_user_profiles(data):
  
    # Create a user-activity matrix
    user_profiles = data.pivot_table(index='user_id', columns='activity', values='rating').fillna(0)

    # Compute similarity matrix using cosine similarity
    similarity_matrix = cosine_similarity(user_profiles)
    return similarity_matrix, user_profiles

# Step 3: Find Similar Users
def get_similar_users(data, user_id, n=5, similarity_matrix=None):
    
    if similarity_matrix is None:
        similarity_matrix, user_profiles = build_user_profiles(data)

    user_profiles = data.pivot_table(index='user_id', columns='activity', values='rating').fillna(0)
    user_idx = user_profiles.index.get_loc(user_id)
    user_similarities = similarity_matrix[user_idx]

    # Get indices of the top `n` similar users (excluding the user itself).
    similar_user_indices = user_similarities.argsort()[::-1][1:n + 1]
    similar_users = user_profiles.index[similar_user_indices]

    return list(similar_users)

# Step 4: Generate Recommendations
def get_recommendations(data, user_id, n=5, similarity_matrix=None):
    
    if similarity_matrix is None:
        similarity_matrix, user_profiles = build_user_profiles(data)

    similar_users = get_similar_users(data, user_id, n=5, similarity_matrix=similarity_matrix)

    # Filter activities rated by similar users
    similar_users_data = data[data['user_id'].isin(similar_users)]

    # Calculate average ratings for activities
    recommendations = similar_users_data.groupby('activity').agg({
        'rating': 'mean'
    }).sort_values('rating', ascending=False)

    # Filter out activities the user has already tried
    user_activities = set(data[data['user_id'] == user_id]['activity'])
    new_activities = recommendations[~recommendations.index.isin(user_activities)]

    return new_activities.head(n)

# Step 5: User Interaction
if __name__ == "__main__":
    # Generate synthetic user data
    data = generate_user_data(num_users=100, num_days=30)

    # User input
    user_id = input("Enter your user ID (e.g., '0'): ")

    # Generate recommendations
    similarity_matrix, _ = build_user_profiles(data)
    recommendations = get_recommendations(data, user_id, n=10, similarity_matrix=similarity_matrix)

    # Output
    if recommendations.empty:
        print(f"No new recommendations available for User {user_id}.")
    else:
        print(f"Recommendations for User {user_id}:")
        print(recommendations)

Recommendations for User 6:
                 rating
activity
pool                5.0
beach_activity      4.0
buffet              4.0
city_tour           4.0
business_center     3.0
golf                3.0
yoga                1.0

In [244]:
from flask import Flask, render_template, request, jsonify
from recsys import generate_user_data, get_recommendations, build_user_profiles  # Import from your recsys file
import pandas as pd

app = Flask(__name__)

# Generate synthetic data and build similarity matrix
data = generate_user_data(num_users=100)
similarity_matrix, _ = build_user_profiles(data)

@app.route('/')
def index():
    return render_template('index.html')

@app.route('/recommend', methods=['POST'])
def recommend():
    user_id = request.form.get('user_id')

    # Ensure the user ID exists in the data
    if user_id not in data['user_id'].unique():
        return jsonify({"error": "User ID not found!"}), 404

    # Get recommendations
    recommendations = get_recommendations(data, user_id, n=5, similarity_matrix=similarity_matrix)

    if not recommendations:
        return jsonify({"message": f"No recommendations available for User {user_id}."})

    return jsonify({"recommendations": recommendations})

if __name__ == '__main__':
    app.run(debug=True)

Recommendations for User 3:
                 rating
activity
beach_activity      5.0
bar                 1.0
business_center     1.0
city_tour           1.0
room_service        1.0
spa                 1.0
tennis_court        1.0